/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

a:link{
  color:white;
}
a{
  color:white;
}
body{
  background-color: grey;
}
